USE [master]
GO
/****** Object:  Database [user]    Script Date: 06.03.2026 21:19:09 ******/
CREATE DATABASE [user]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'user', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\user.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'user_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\user_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [user].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [user]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 06.03.2026 21:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[AgentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](40) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[QualificationID] [int] NOT NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[AgentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appeals]    Script Date: 06.03.2026 21:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appeals](
	[AppealID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[PriorityID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[EquipmentID] [int] NOT NULL,
	[AgentID] [int] NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[ResolvedDate] [date] NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK_Appeals] PRIMARY KEY CLUSTERED 
(
	[AppealID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 06.03.2026 21:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Decisions]    Script Date: 06.03.2026 21:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decisions](
	[DecisionID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Solution] [nvarchar](max) NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_Decisions] PRIMARY KEY CLUSTERED 
(
	[DecisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipments]    Script Date: 06.03.2026 21:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipments](
	[EquipmentID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[TypeID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Equipments] PRIMARY KEY CLUSTERED 
(
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priorities]    Script Date: 06.03.2026 21:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priorities](
	[PriorityID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Priorities] PRIMARY KEY CLUSTERED 
(
	[PriorityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualifications]    Script Date: 06.03.2026 21:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualifications](
	[QualificationID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Qualifications] PRIMARY KEY CLUSTERED 
(
	[QualificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 06.03.2026 21:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 06.03.2026 21:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06.03.2026 21:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](40) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Agents] ON 

INSERT [dbo].[Agents] ([AgentID], [FirstName], [LastName], [Patronymic], [Email], [QualificationID]) VALUES (1, N'Алексей', N'Соколов', N'Дмитриевич', N'a.sokolov@support.company.ru', 3)
INSERT [dbo].[Agents] ([AgentID], [FirstName], [LastName], [Patronymic], [Email], [QualificationID]) VALUES (2, N'Анна', N'Крылова', N'Игоревна', N'a.krylova@support.company.ru', 3)
INSERT [dbo].[Agents] ([AgentID], [FirstName], [LastName], [Patronymic], [Email], [QualificationID]) VALUES (3, N'Павел', N'Медведев', N'Андреевич', N'p.medvedev@support.company.ru', 2)
SET IDENTITY_INSERT [dbo].[Agents] OFF
GO
SET IDENTITY_INSERT [dbo].[Appeals] ON 

INSERT [dbo].[Appeals] ([AppealID], [Title], [Description], [PriorityID], [CategoryID], [UserID], [EquipmentID], [AgentID], [CreatedDate], [ResolvedDate], [StatusID]) VALUES (1, N'Не работает компьютер', N'При включении компьютера черный экран, вентиляторы шумят, но изображения нет', 3, 1, 1, 1, 1, CAST(N'2026-01-10' AS Date), CAST(N'2026-01-11' AS Date), 4)
INSERT [dbo].[Appeals] ([AppealID], [Title], [Description], [PriorityID], [CategoryID], [UserID], [EquipmentID], [AgentID], [CreatedDate], [ResolvedDate], [StatusID]) VALUES (2, N'Проблема с принтером', N'Принтер не печатает, горит красная ошибка, перезагрузка не помогла', 2, 10, 2, 9, 3, CAST(N'2026-01-12' AS Date), CAST(N'2026-01-12' AS Date), 4)
INSERT [dbo].[Appeals] ([AppealID], [Title], [Description], [PriorityID], [CategoryID], [UserID], [EquipmentID], [AgentID], [CreatedDate], [ResolvedDate], [StatusID]) VALUES (3, N'Не могу войти в систему', N'Забыл пароль от Windows, не получается сбросить самостоятельно', 3, 1, 3, 2, 2, CAST(N'2026-01-13' AS Date), CAST(N'2026-01-13' AS Date), 5)
GO
SET IDENTITY_INSERT [dbo].[Appeals] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [Title]) VALUES (1, N'Проблемы с ПК')
INSERT [dbo].[Categories] ([CategoryID], [Title]) VALUES (2, N'Не включается компьютер')
INSERT [dbo].[Categories] ([CategoryID], [Title]) VALUES (3, N'Компьютер тормозит')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Decisions] ON 

INSERT [dbo].[Decisions] ([DecisionID], [Title], [Description], [Solution], [CreatedDate], [CategoryID]) VALUES (1, N'Не включается ноутбук Dell', N'Пользователь нажимает кнопку включения, но ноутбук не реагирует', N'Проверить питание, отсоединить батарею на 30 сек, проверить блок питания', CAST(N'2026-01-15' AS Date), 2)
INSERT [dbo].[Decisions] ([DecisionID], [Title], [Description], [Solution], [CreatedDate], [CategoryID]) VALUES (2, N'Настройка подписи в Outlook', N'Как создать автоматическую подпись для исходящих писем', N'Файл → Параметры → Почта → Подписи → Создать', CAST(N'2026-01-20' AS Date), 15)
INSERT [dbo].[Decisions] ([DecisionID], [Title], [Description], [Solution], [CreatedDate], [CategoryID]) VALUES (3, N'Очистка диска C', N'Закончилось место на диске C', N'Очистка диска, удаление временных файлов, очистка корзины', CAST(N'2026-01-25' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Decisions] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipments] ON 

INSERT [dbo].[Equipments] ([EquipmentID], [Title], [TypeID], [UserID]) VALUES (1, N'Ноутбук Dell Latitude 5420', 1, 1)
INSERT [dbo].[Equipments] ([EquipmentID], [Title], [TypeID], [UserID]) VALUES (2, N'Ноутбук HP EliteBook 840', 1, 2)
INSERT [dbo].[Equipments] ([EquipmentID], [Title], [TypeID], [UserID]) VALUES (3, N'Ноутбук Lenovo ThinkPad T14', 1, 3)
SET IDENTITY_INSERT [dbo].[Equipments] OFF
GO
SET IDENTITY_INSERT [dbo].[Priorities] ON 

INSERT [dbo].[Priorities] ([PriorityID], [Title]) VALUES (1, N'Низкий')
INSERT [dbo].[Priorities] ([PriorityID], [Title]) VALUES (2, N'Средний')
INSERT [dbo].[Priorities] ([PriorityID], [Title]) VALUES (3, N'Высокий')
SET IDENTITY_INSERT [dbo].[Priorities] OFF
GO
SET IDENTITY_INSERT [dbo].[Qualifications] ON 

INSERT [dbo].[Qualifications] ([QualificationID], [Title]) VALUES (1, N'Junior')
INSERT [dbo].[Qualifications] ([QualificationID], [Title]) VALUES (2, N'Middle')
INSERT [dbo].[Qualifications] ([QualificationID], [Title]) VALUES (3, N'Senior')
SET IDENTITY_INSERT [dbo].[Qualifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [Title]) VALUES (1, N'Пользователь')
INSERT [dbo].[Roles] ([RoleID], [Title]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([RoleID], [Title]) VALUES (3, N'Администратор')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([StatusID], [Title]) VALUES (1, N'Новая')
INSERT [dbo].[Statuses] ([StatusID], [Title]) VALUES (2, N'В работе')
INSERT [dbo].[Statuses] ([StatusID], [Title]) VALUES (3, N'Эскалирована')
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Patronymic], [Email], [PhoneNumber], [RoleID]) VALUES (1, N'Иван', N'Иванов', N'Иванович', N'ivan.ivanov@company.ru', N'+7 (901) 123-45-67', 1)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Patronymic], [Email], [PhoneNumber], [RoleID]) VALUES (2, N'Петр', N'Петров', N'Петрович', N'petr.petrov@company.ru', N'+7 (902) 234-56-78', 2)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Patronymic], [Email], [PhoneNumber], [RoleID]) VALUES (3, N'Анна', N'Смирнова', N'Сергеевна', N'anna.smirnova@company.ru', N'+7 (903) 345-67-89', 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Agents]  WITH CHECK ADD  CONSTRAINT [FK_Agents_Qualifications] FOREIGN KEY([QualificationID])
REFERENCES [dbo].[Qualifications] ([QualificationID])
GO
ALTER TABLE [dbo].[Agents] CHECK CONSTRAINT [FK_Agents_Qualifications]
GO
ALTER TABLE [dbo].[Appeals]  WITH CHECK ADD  CONSTRAINT [FK_Appeals_Agents1] FOREIGN KEY([AgentID])
REFERENCES [dbo].[Agents] ([AgentID])
GO
ALTER TABLE [dbo].[Appeals] CHECK CONSTRAINT [FK_Appeals_Agents1]
GO
ALTER TABLE [dbo].[Appeals]  WITH CHECK ADD  CONSTRAINT [FK_Appeals_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Appeals] CHECK CONSTRAINT [FK_Appeals_Categories]
GO
ALTER TABLE [dbo].[Appeals]  WITH CHECK ADD  CONSTRAINT [FK_Appeals_Equipments] FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipments] ([EquipmentID])
GO
ALTER TABLE [dbo].[Appeals] CHECK CONSTRAINT [FK_Appeals_Equipments]
GO
ALTER TABLE [dbo].[Appeals]  WITH CHECK ADD  CONSTRAINT [FK_Appeals_Priorities] FOREIGN KEY([PriorityID])
REFERENCES [dbo].[Priorities] ([PriorityID])
GO
ALTER TABLE [dbo].[Appeals] CHECK CONSTRAINT [FK_Appeals_Priorities]
GO
ALTER TABLE [dbo].[Appeals]  WITH CHECK ADD  CONSTRAINT [FK_Appeals_Statuses] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Statuses] ([StatusID])
GO
ALTER TABLE [dbo].[Appeals] CHECK CONSTRAINT [FK_Appeals_Statuses]
GO
ALTER TABLE [dbo].[Appeals]  WITH CHECK ADD  CONSTRAINT [FK_Appeals_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Appeals] CHECK CONSTRAINT [FK_Appeals_Users]
GO
ALTER TABLE [dbo].[Decisions]  WITH CHECK ADD  CONSTRAINT [FK_Decisions_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Decisions] CHECK CONSTRAINT [FK_Decisions_Categories]
GO
ALTER TABLE [dbo].[Equipments]  WITH CHECK ADD  CONSTRAINT [FK_Equipments_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Equipments] CHECK CONSTRAINT [FK_Equipments_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
